.wrapper {
    padding: 16px 0;
    flex-grow: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.warning_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.reload_btn {
    font-weight: 600;
    font-size: 16px;
    color: var(--ui);
    cursor: pointer;
}
.error_text {
    font-size: 16px;
    color: var(--text-200);
}
.year_line {
    margin: 28px 40px;
    display: flex;
    justify-content: center;
    position: relative;
}
.year {
    width: 160px;
    background-color: var(--bg-400);
    color: var(--text-200);
    font-size: 15px;
    font-weight: 500;
    z-index: 4;
    text-align: center;
}
.year_line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #c3c3c6;
    z-index: 3;
}
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 8px 0;
        gap: 2px;
    }
    .title {
        padding: 8px 24px;
    }
}
