.link {
    color: var(--text-300);
    text-decoration: none;
    font-size: 15px;
}
.wrapper {
    padding: 8px 12px;
    margin-top: 8px;
}
.wrapper.active {
    border-bottom: 2px solid var(--ui);
}
.wrapper.active .link {
    color: var(--text-400);
}
@media screen and (max-width: 768px) {
    .wrapper {
        margin-top: 4px;
    }
}
