:root {
    --bg-400: #ffffff;
    --bg-500: #f7f7f8;
    --text-400: #050510;
    --text-300: #97979b;
    --ui: #6534ff;
    --error: #f44336;
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    background-color: initial;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--text-400);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    box-sizing: border-box;
}
